/* Style général */
body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: #D16461;
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Style pour le paragraphe "Internet est devenu indispensable dans notre quotidien
  mais son utilisation comporte plusieurs risques" */
.grand-texte {
    font-size: 50px;
    color: darkblue
    font-weight: bold
}

/* Style des titres */
h1 {
    font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: 700;
    color: purple;
    font-size: 70px;
    margin-top: 60px;
}

h2 {
    color: #0055aa;
}

/* Menu de navigation */
nav {
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    color: purple;
    font-size: 30px;
    margin: 0 12px;
    font-weight: bold;
}

nav a:hover {
    color: white;
    text-decoration: underline
}

/* Liste */
ul {
    list-style-type: square;
    text-align: left;
    display: inline-block;
    font-size: 20px
    margin-top: 10px;
}
.explication {
    font-size: 14px;
    color: white;
    margin: 4px 0 10px 20px; 
}
    
