/* Style général */
body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: lightblue;
    color: #333333;
    font-size: 20px
    text-align: center;
    margin: 0;
    padding: 0;
}
/* Style pour le paragraphe "J'aime la galette" */
.grand-texte {
    font-size: 24px;
    color: darkblue
    font-weight: bold
}
/* Style des titres */
h1 {
    color: purple;
    font-size: 60px;
    margin-top: 60px;
}

h2 {
    color: #0055aa;
}

/* Menu de navigation */
nav {
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    color: purple;
    font-size: 20px;
    margin: 0 12px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
    text-decoration: underline
}

/* Liste */
ul {
    list-style-type: square;
    text-align: left;
    display: inline-block;
    font-size: 20px
    margin-top: 10px;
}
.explication {
    font-size: 14px;
    color: gray;
    margin: 4px 0 10px 20px; 
}
    
